<p style="visibility: hidden">
  home-page works!
</p>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="background-color:rgb(44, 40, 40); padding: 10px;">

    <div class="row" style="background-color: dimgray; margin: 5px; padding: 20px;">
      
      <h1 style="text-align: center; color: #DCA16E">YOUR TROPHIES<button class="btn" style="background-color: #DCA16E; color:black;">Edit Trophies</button></h1>

      <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <div class="col-sm-11">
          <h3 style="color: #DCA16E">PINNED TROPHIES</h3>
          <div class="row" style="background-color:rgb(44, 40, 40); margin-left: 1px; margin-right: 1px; border-style: solid; border-width: 1px; border-color: #DCA16E">
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
            </div>
          </div>
          <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
            </div>
          </div>
          <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
            </div>
          </div>
          <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
            </div>
          </div>
          <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
            </div>
          </div>
          <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
            </div>
          </div>
          <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
            </div>
          </div>
          <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
            </div>
          </div>
          <div class="col-sm-1">
              <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <button type="button" class="col-sm-1" style="font-size: 25px; padding-right: 30px; margin-top: 10px">></button>
            </div>
          </div>

          </div>
        </div>
      </div>

      <div class="row" style="margin-left: 10px; margin-right: 10px;">
          <div class="col-sm-11">
            <h3 style="color: #DCA16E">ALL TROPHIES 
              <select style="font-size: 16px" class="pull-right">
                <option value="volvo" disabled>Sort By:</option>
                <option value="saab">Game Name</option>
                <option value="opel">Platform Name</option>
                <option value="audi">Audi</option>
              </select></h3>
            <h4 style="color: silver">GameName, platformName: </h4>
            <div class="row" style="background-color:rgb(44, 40, 40); margin-left: 1px; margin-right: 1px;">
              <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                    <button type="button" class="col-sm-1" style="font-size: 25px; padding-right: 30px; margin-top: 10px">></button>
              </div>
            </div>
            </div>
            <h4 style="color: silver">GameName, platformName: </h4>
            <div class="row" style="background-color:rgb(44, 40, 40); margin-left: 1px; margin-right: 1px;">
              <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                    <button type="button" class="col-sm-1" style="font-size: 25px; padding-right: 30px; margin-top: 10px">></button>
              </div>
            </div>
            </div>
            <h4 style="color: silver">GameName, platformName: </h4>
            <div class="row" style="background-color:rgb(44, 40, 40); margin-left: 1px; margin-right: 1px;">
              <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                  <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1">
                <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                    <button type="button" class="col-sm-1" style="font-size: 25px; padding-right: 30px; margin-top: 10px">></button>
              </div>
            </div>
            </div>
          </div>
        </div>



    </div>
    <div class="col-sm-3"> </div>