<!--<div *ngFor="let achievement of achievements">
  {{achievement.name}}
</div>-->

<div class="row">
  <div class="col-sm-12">
    <h2>Pinned Trophies</h2>
    <div class="highlighted-dark-container">
      <div *ngFor="let pinnedAchievement of pinnedAchievements;let i=index;" class="achievement-image-container">
        <div *ngIf="i%2==0" class="achievement-image">
          <img src="{{pinnedAchievement.imageUnlocked}}" />
        </div>
        <div *ngIf="i%2==1" class="achievement-image" style="margin-left:50px;">
          <img src="{{pinnedAchievement.imageUnlocked}}" />
        </div>
        <div class="achievement-description-outer">
          <div class="achievement-description-inner">
            <div class="achievement-name">
              {{pinnedAchievement.name}}
            </div>
            <div class="achievement-game">
              Game: {{pinnedAchievement.game}}
            </div>
            <div class="achievement-unlock-date">
              Unlocked on {{pinnedAchievement.timeUnlocked}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2>All Trophies</h2>
    <h3>Halo 3 <span class="glyphicon glyphicon-minus-sign" data-toggle="collapse" data-target="#haloCollapse"></span>
    </h3>
    <div class="collapse" id="haloCollapse">
      <div class="dark-container">
        <div *ngFor="let haloAchievement of haloAchievements;let i=index;" class="achievement-image-container">
          <div *ngIf="i%2==0" class="achievement-image">
            <img src="{{haloAchievement.imageUnlocked}}" />
          </div>
          <div *ngIf="i%2==1" class="achievement-image" style="margin-left:50px;">
            <img src="{{haloAchievement.imageUnlocked}}" />
          </div>
          <div class="achievement-description-outer">
            <div class="achievement-description-inner">
              <div class="achievement-name">
                {{haloAchievement.name}}
              </div>
              <div class="achievement-game">
                Game: {{haloAchievement.game}}
              </div>
              <div class="achievement-unlock-date">
                Unlocked on {{haloAchievement.timeUnlocked}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h3>Portal</h3>
    <div class="dark-container">
      <div *ngFor="let portalAchievement of portalAchievements;let i=index;" class="achievement-image-container">
        <div *ngIf="i%2==0" class="achievement-image">
          <img src="{{portalAchievement.imageUnlocked}}" />
        </div>
        <div *ngIf="i%2==1" class="achievement-image" style="margin-left:50px;">
          <img src="{{portalAchievement.imageUnlocked}}" />
        </div>
        <div class="achievement-description-outer">
          <div class="achievement-description-inner">
            <div class="achievement-name">
              {{portalAchievement.name}}
            </div>
            <div class="achievement-game">
              Game: {{portalAchievement.game}}
            </div>
            <div class="achievement-unlock-date">
              Unlocked on {{portalAchievement.timeUnlocked}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="background-color:rgb(44, 40, 40); padding: 10px;">

    <div class="row" style="background-color: dimgray; margin: 5px; padding: 20px;">

      <h1 style="text-align: center; color: #DCA16E">YOUR TROPHIES<button class="btn"
          style="background-color: #DCA16E; color:black;">Edit Trophies</button></h1>

      <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <div class="col-sm-11">
          <h3 style="color: #DCA16E">PINNED TROPHIES</h3>
          <div class="row"
            style="background-color:rgb(44, 40, 40); margin-left: 1px; margin-right: 1px; border-style: solid; border-width: 1px; border-color: #DCA16E">
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <button type="button" class="col-sm-1"
                  style="font-size: 25px; padding-right: 30px; margin-top: 10px">></button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <div class="col-sm-11">
          <h3 style="color: #DCA16E">ALL TROPHIES
            <select style="font-size: 16px" class="pull-right">
              <option value="volvo" disabled>Sort By:</option>
              <option value="saab">Game Name</option>
              <option value="opel">Platform Name</option>
              <option value="audi">Audi</option>
            </select></h3>
          <h4 style="color: silver">GameName, platformName: </h4>
          <div class="row" style="background-color:rgb(44, 40, 40); margin-left: 1px; margin-right: 1px;">
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <button type="button" class="col-sm-1"
                  style="font-size: 25px; padding-right: 30px; margin-top: 10px">></button>
              </div>
            </div>
          </div>
          <h4 style="color: silver">GameName, platformName: </h4>
          <div class="row" style="background-color:rgb(44, 40, 40); margin-left: 1px; margin-right: 1px;">
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <button type="button" class="col-sm-1"
                  style="font-size: 25px; padding-right: 30px; margin-top: 10px">></button>
              </div>
            </div>
          </div>
          <h4 style="color: silver">GameName, platformName: </h4>
          <div class="row" style="background-color:rgb(44, 40, 40); margin-left: 1px; margin-right: 1px;">
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1" style="background-color:dimgray; margin:10px; padding-left: 15px">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <img src="https://i.postimg.cc/pT43bTyB/2477-200.png" style="display: inline-block;height: 40px; ">
              </div>
            </div>
            <div class="col-sm-1">
              <div
                style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
                <button type="button" class="col-sm-1"
                  style="font-size: 25px; padding-right: 30px; margin-top: 10px">></button>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>-->

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>