<p>
  profile-page works!
</p>
<div class="container" style="background-color: rgb(44, 40, 40);">
  <div class="row" style="background-color: dimgray; margin:15px 0px 15px 0px">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" style="background-color: burlywood; margin:70px 0px 70px 0px">

      <div class="row">
        <div class="col-md-2" style="background-color: orchid;">

          <div class="row" style="background-color: rgb(44, 40, 40)">
            <div class="col-md-5" style="background-color: rgb(44, 40, 40); padding-top: 20px; padding-bottom: 20px">
              <img src="https://i.postimg.cc/CLbSKLLr/download.png" width="100" style="margin-left: 15px">
            </div>
          </div>

        </div>
        <div class="col-md-8" style="background-color: palevioletred">weqweqe</div>
      </div>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>