<div class="row">
  <div class="col-md-3">
      <div class="achievement-image">
          <img src="http://image.xboxlive.com/global/t.415707dd/tile/0/2040c" />
      </div>
  </div>

  <div class="col-md-9" >
      <div class="row">
        <div class="col-md-6">
          <h3 style="color: #DCA16E; font: bold;">QUEEN-FISHER</h3>
        </div>
        <div class="col-md-6">
          <button>Friends</button>
          <button>Edit Profile</button>
        </div>
      </div>
      <p style="color: #888888">Treasure hunter. TV show host. Game enthusiast. Lover of all things Crash Bandicoot.</p>
      <div class="row">

        

      </div>
  </div>
  
</div>

<!-- <div class="col-md-10" style="background-color: burlywood; margin:70px 0px 70px 0px">

  <div class="col-md-2" style="background-color: orchid;">
  
      <div class="col-md-5" style="background-color: rgb(44, 40, 40); padding-top: 20px; padding-bottom: 20px">
        <img src="http://image.xboxlive.com/global/t.415707dd/tile/0/2040c" width="100" style="margin-left: 15px">
      </div>
    </div>
  
  </div>

</div> -->