<div class="row">
  <div class="col-sm-12">
    <h1>NEWS FEED</h1>
    <h3>Friends' Achievements</h3>
    <div class="dark-container">
      <div *ngFor="let name of names;let i = index;" class="achievement-image-container">
        <div *ngIf="i%2==0" class="achievement-image">
          <img src="{{listOfUserPictures[i]}}" />
        </div>
        <div *ngIf="i%2==1" class="achievement-image" style="margin-left:50px;">
          <img src="{{listOfUserPictures[i]}}" />
        </div>
        <div class="achievement-description-outer">
          <div class="achievement-description-inner">
            <b>{{name}}</b> earned the trophy <b>{{listOfAchievements[i]}}</b>
          </div>
        </div>
      </div>
    </div>

    <h3>Trophy Tracker News</h3>
    <div class="dark-container">
      <div class="achievement-image-container">
        <div class="achievement-image">
          <img src="https://i.postimg.cc/WpXR5Wb8/2477-200.png" />
        </div>
        <div class="achievement-description-outer">
          <div class="achievement-description-inner">
            <b>Posted on 10/29/2019</b>
            <p>This is just some news about the system update. Look, it's a real website now!</p>
          </div>
        </div>
      </div>

      <div class="achievement-image-container">
        <div class="achievement-image" style="margin-left:50px;">
          <img src="https://i.postimg.cc/WpXR5Wb8/2477-200.png" />
        </div>
        <div class="achievement-description-outer">
          <div class="achievement-description-inner">
            <b>Posted on 10/29/2019</b>
            <p>This is just some news about the system update. Look, it's a real website now!</p>
          </div>
        </div>
      </div>

      <div class="achievement-image-container">
          <div class="achievement-image">
            <img src="https://i.postimg.cc/WpXR5Wb8/2477-200.png" />
          </div>
          <div class="achievement-description-outer">
            <div class="achievement-description-inner">
              <b>Posted on 10/29/2019</b>
              <p>This is just some news about the system update. Look, it's a real website now!</p>
            </div>
          </div>
        </div>
  
        <div class="achievement-image-container">
          <div class="achievement-image" style="margin-left:50px;">
            <img src="https://i.postimg.cc/WpXR5Wb8/2477-200.png" />
          </div>
          <div class="achievement-description-outer">
            <div class="achievement-description-inner">
              <b>Posted on 10/29/2019</b>
              <p>This is just some news about the system update. Look, it's a real website now!</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>