<div class="row">
  <div  style="background-color:rgb(44, 40, 40); margin: 10px; padding:10px">

    <!-- Achievement Feed -->
    <div class="row" style="background-color: dimgray; margin: 5px; padding: 20px;">
      <h1 style="text-align: center; color: #DCA16E">NEWS FEED</h1>
      <h4 style="color: silver">Friends' Achievements</h4>
      <div class="container" style="max-width:100%; max-height:100%;">
        <div class="row" style=" background-color: rgb(44, 40, 40); padding: 5px;  ">
          <div >
           <app-friends-achievements *ngFor="let number of numbers" 
           [userName]="this.randomUserName()" 
           [userImg]="'http://image.xboxlive.com/global/t.415707dd/tile/0/2040c'" 
           [userAchievement]="this.randomUserAchievement()" 
           [userAImg]="this.lastAchievementImg()"></app-friends-achievements>
          </div>
        </div>
      </div>

      <!-- Trophy Tracker News -->
      <h4 style="color: silver">Trophy Tracker News</h4>
      <div style="background-color:rgb(44, 40, 40); padding-top: 5px; padding-right: 10px">

        <!-- first row of news! -->
        <div class="row">
          <div class="col-md-6">
            <div class="row" style="padding: 15px">
              <div class="col-md-2"
                style="background-color: dimgray; padding-bottom: 35px; margin-left: 10px; width: 80px; margin-right: 5px">
                <img src="https://i.postimg.cc/WpXR5Wb8/2477-200.png" width="70"
                  style="padding-right:15px; padding-top:10px">
              </div>
              <div class="col-md-9" style="color: silver; background-color: dimgray; margin-left: 5px">
                <p>Posted on 10/29/2019</p>
                <P>You need more notifications, so we implemented a notification system to annoy you</P>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row" style="padding: 15px">
              <div class="col-md-2"
                style="background-color: dimgray; padding-bottom: 35px; margin-left: 10px; width: 80px; margin-right: 5px">
                <img src="https://i.postimg.cc/WpXR5Wb8/2477-200.png" width="70"
                  style="padding-right:15px; padding-top:10px">
              </div>
              <div class="col-md-9" style="color: silver; background-color: dimgray; margin-left: 5px">
                <p>Posted on 10/29/2019</p>
                <p>You need more notifications, so we implemented a notification system to annoy you</p>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
<div class="col-sm-3"> </div>